.statscard {
    padding:15px;
    /* display: flex; */
    width: 70%;
    height: 200px;
    background-color: white;
    border: thin solid white;
  }
  
.statscards{
    position: relative;
    top: -80px;
    display:flex; 
    flex-direction:row; 
    justify-content:space-evenly;
    padding:2px;
  }