.total {
display: flex;
justify-content: space-between;
}

.total span:nth-child(1) {
font-size: 2rem;
color: rgb(7, 6, 68);
font-weight: bold;
letter-spacing: 2px;
}

.total span:nth-child(2) {
font-size: 2rem;
color: rgb(0, 0, 0);
font-weight: bold;
}